.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox___35KXx {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-XNgYJp_Gdzg462);
}
.freeBox__uFgza {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-50MB7bXg-SdmqM);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__uFgza > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__uFgza > :global(.__wab_flex-container) > *,
.freeBox__uFgza > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uFgza > :global(.__wab_flex-container) > picture > img,
.freeBox__uFgza
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uFgza {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uFgza > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uFgza > :global(.__wab_flex-container) > *,
  .freeBox__uFgza > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__uFgza > :global(.__wab_flex-container) > picture > img,
  .freeBox__uFgza
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__u91Fx {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__u91Fx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 14px);
  height: calc(100% + 14px);
}
.freeBox__u91Fx > :global(.__wab_flex-container) > *,
.freeBox__u91Fx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u91Fx > :global(.__wab_flex-container) > picture > img,
.freeBox__u91Fx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 14px;
}
.iconLink__s4YQz:global(.__wab_instance) {
  position: relative;
  width: 156px;
  height: 114px;
  flex-shrink: 0;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___7Tbnd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__yTnFv {
  color: var(--token-eaW9_A5ArHaAfs);
  font-size: 14px;
}
.root .link__yTnFv:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.text__z8Rsm {
  position: relative;
  font-size: 14px;
  color: var(--token-eaW9_A5ArHaAfs);
}
.link__o1FZz {
  position: relative;
  color: var(--token-eaW9_A5ArHaAfs);
  font-size: 14px;
}
.root .link__o1FZz:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.freeBox__xvgbr {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__xvgbr > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__xvgbr > :global(.__wab_flex-container) > *,
.freeBox__xvgbr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xvgbr > :global(.__wab_flex-container) > picture > img,
.freeBox__xvgbr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xvgbr {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xvgbr > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xvgbr > :global(.__wab_flex-container) > *,
  .freeBox__xvgbr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xvgbr > :global(.__wab_flex-container) > picture > img,
  .freeBox__xvgbr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___1BeN {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox___1BeN > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___1BeN > :global(.__wab_flex-container) > *,
.freeBox___1BeN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1BeN > :global(.__wab_flex-container) > picture > img,
.freeBox___1BeN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__zRyd0 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__wXbyS {
  font-size: 14px;
  position: relative;
  color: var(--token-eaW9_A5ArHaAfs);
}
.root .link__wXbyS:hover {
  color: var(--token-NEon4Y--Z);
}
.link__cTWgU {
  position: relative;
  color: var(--token-eaW9_A5ArHaAfs);
  font-size: 14px;
}
.root .link__cTWgU:hover {
  color: var(--token-NEon4Y--Z);
}
.link__fDpzr {
  position: relative;
  color: var(--token-eaW9_A5ArHaAfs);
  font-size: 14px;
}
.root .link__fDpzr:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__jadVt {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__jadVt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__jadVt > :global(.__wab_flex-container) > *,
.freeBox__jadVt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jadVt > :global(.__wab_flex-container) > picture > img,
.freeBox__jadVt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___6S5Kq {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__kWtgX {
  position: relative;
  color: var(--token-eaW9_A5ArHaAfs);
  font-size: 14px;
}
.root .link__kWtgX:hover {
  color: var(--token-NEon4Y--Z);
}
.link__d9Bxj {
  position: relative;
  color: var(--token-eaW9_A5ArHaAfs);
  font-size: 14px;
}
.root .link__d9Bxj:hover {
  color: var(--token-NEon4Y--Z);
}
.link__hfVff {
  position: relative;
  color: var(--token-eaW9_A5ArHaAfs);
  font-size: 14px;
}
.root .link__hfVff:hover {
  color: var(--token-NEon4Y--Z);
}
.link__afrf {
  position: relative;
  color: var(--token-eaW9_A5ArHaAfs);
  font-size: 14px;
}
.root .link__afrf:hover {
  color: var(--token-NEon4Y--Z);
}
.link__ng8A {
  position: relative;
  color: var(--token-eaW9_A5ArHaAfs);
  font-size: 14px;
}
.root .link__ng8A:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__sHad2 {
  flex-direction: column;
  display: flex;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__sHad2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__sHad2 > :global(.__wab_flex-container) > *,
.freeBox__sHad2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sHad2 > :global(.__wab_flex-container) > picture > img,
.freeBox__sHad2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__mwdX {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__xNlOl {
  position: relative;
  color: var(--token-eaW9_A5ArHaAfs);
  font-size: 14px;
}
.root .link__xNlOl:hover {
  color: var(--token-NEon4Y--Z);
}
.link__akMuq {
  position: relative;
  color: var(--token-eaW9_A5ArHaAfs);
  font-size: 14px;
}
.root .link__akMuq:hover {
  color: var(--token-NEon4Y--Z);
}
.link__wqUhN {
  position: relative;
  color: var(--token-eaW9_A5ArHaAfs);
  font-size: 14px;
}
.root .link__wqUhN:hover {
  color: var(--token-NEon4Y--Z);
}
.link__rSXbJ {
  position: relative;
  color: var(--token-eaW9_A5ArHaAfs);
  font-size: 14px;
}
.root .link__rSXbJ:hover {
  color: var(--token-NEon4Y--Z);
}
.link__aq2YG {
  position: relative;
  color: var(--token-eaW9_A5ArHaAfs);
  font-size: 14px;
}
.root .link__aq2YG:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__ztsO9 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__ztsO9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ztsO9 > :global(.__wab_flex-container) > *,
.freeBox__ztsO9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ztsO9 > :global(.__wab_flex-container) > picture > img,
.freeBox__ztsO9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__canJc {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text__yj5Z3 {
  position: relative;
  font-size: 14px;
  color: var(--token-eaW9_A5ArHaAfs);
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__fpmzG {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__bsAxB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  width: 1em;
  height: 1em;
}
.svg__zcL5Q {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: var(--token-p-fCTrfjtL4);
}
.svg__oC0Kx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__i9Iuh {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-XNgYJp_Gdzg462);
}
.freeBox__rkCg0 {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-50MB7bXg-SdmqM);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__rkCg0 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rkCg0 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rkCg0 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rkCg0 > :global(.__wab_flex-container) > *,
  .freeBox__rkCg0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rkCg0 > :global(.__wab_flex-container) > picture > img,
  .freeBox__rkCg0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox___3IAb8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link___07DlI {
  position: relative;
  color: var(--token-eaW9_A5ArHaAfs);
  font-size: 14px;
}
.root .link___07DlI:hover {
  text-decoration-line: underline;
}
.text__esJD {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-eaW9_A5ArHaAfs);
}
.freeBox__bv29 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__bv29 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__bv29 > :global(.__wab_flex-container) > *,
.freeBox__bv29 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bv29 > :global(.__wab_flex-container) > picture > img,
.freeBox__bv29
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__ioJYk:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__jw99C {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__jw99C:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__bQbd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__owBRb {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__owBRb:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__uloRv:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__vL6SV {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__vL6SV:hover {
  color: var(--token-dph1wZ7NjV9);
}
