.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 960px;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 16px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
.column__lwfZc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__lwfZc {
    width: 100%;
  }
}
.plan__sd7N5:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__j5IaR {
  font-size: 48px;
}
.freeBox__vXlAi {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__vXlAi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__vXlAi > :global(.__wab_flex-container) > *,
.freeBox__vXlAi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vXlAi > :global(.__wab_flex-container) > picture > img,
.freeBox__vXlAi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__sIu5:global(.__wab_instance) {
  position: relative;
}
.bullet__ryQyk:global(.__wab_instance) {
  position: relative;
}
.bullet__xwvnb:global(.__wab_instance) {
  position: relative;
}
.button__jl6Yi:global(.__wab_instance) {
  position: relative;
}
.svg__gyrnB {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__r6Zqm {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__uwt20 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__uwt20 {
    width: 100%;
  }
}
.plan__mrJPj:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__vC1N {
  font-size: 48px;
}
.freeBox__frfwN {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__frfwN > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__frfwN > :global(.__wab_flex-container) > *,
.freeBox__frfwN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__frfwN > :global(.__wab_flex-container) > picture > img,
.freeBox__frfwN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__xgm20:global(.__wab_instance) {
  position: relative;
}
.bullet__v5Sjg:global(.__wab_instance) {
  position: relative;
}
.bullet__o4Lfw:global(.__wab_instance) {
  position: relative;
}
.bullet__shPc1:global(.__wab_instance) {
  position: relative;
}
.button__bS42K:global(.__wab_instance) {
  position: relative;
}
.svg__myx0N {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__mrBuQ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__jnCO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__jnCO {
    width: 100%;
  }
}
.plan__k0Dvh:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__nmQec {
  font-size: 48px;
}
.freeBox__yZ0Cd {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__yZ0Cd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__yZ0Cd > :global(.__wab_flex-container) > *,
.freeBox__yZ0Cd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yZ0Cd > :global(.__wab_flex-container) > picture > img,
.freeBox__yZ0Cd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__ciXv:global(.__wab_instance) {
  position: relative;
}
.bullet__lEyHx:global(.__wab_instance) {
  position: relative;
}
.bullet__wMqul:global(.__wab_instance) {
  position: relative;
}
.button___00Jer:global(.__wab_instance) {
  position: relative;
}
.svg__nwXc2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__fLuCc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.faqSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__yTnG9 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__yTnG9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__yTnG9 > :global(.__wab_flex-container) > *,
.freeBox__yTnG9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yTnG9 > :global(.__wab_flex-container) > picture > img,
.freeBox__yTnG9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.faq__eObfQ:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq__keg7:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
